@page "/Journals/Create"

@attribute [Authorize]

@inherits SoarBeyondPageBase

<PageTitle>Create a Journal</PageTitle>

<div class="container p-4">
    <CreateJournalForm @ref="@_journalForm" 
                       OnValidSubmit="@CreateJournalAsync" />
</div>