@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - SoarBeyond</title>

    @* Font Awesome 6.2.1 *@
    <link rel="stylesheet" href="/lib/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/regular.min.css">

    @* Bootstrap 5.2.3 *@
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/identity.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SoarBeyond</a>

            <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @{
                    await Html.RenderPartialAsync("_LoginPartial");
                }
            </div>
        </div>
    </nav>

    <div class="container py-3">
        @RenderBody()
    </div>

    <script src="/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
