@namespace SoarBeyond.Components

@inherits SoarBeyondComponentBase

@using BlazorComponentUtilities

<span @attributes="@ComponentAttributes"
      class="@ComponentClasses"
      style="@ComponentStyles"
      role="status"
      aria-hidden="true">
</span>

@code {

    [Parameter]
    public BSpinnerType SpinnerType { get; set; } = BSpinnerType.Border;

    [Parameter]
    public bool Small { get; set; }

    [Parameter]
    public string Size { get; set; }

    protected override CssBuilder ComponentClassesBuilder
        => base.ComponentClassesBuilder
            .AddClass(SpinnerClass, when: SpinnerClassConditionSet)
            .AddClass(SmallSpinnerClass, when: SpinnerClassConditionSet && SmallSpinnerClassConditionSet);

    protected override StyleBuilder ComponentStylesBuilder
        => base.ComponentStylesBuilder
            .AddStyle(SpinnerSizeStyle);

    private string SpinnerClass
        => $"spinner-{SpinnerType.ToString().ToLower()}";

    private string SmallSpinnerClass
        => SpinnerClass + (Small ? "-sm" : string.Empty);

    private bool SpinnerClassConditionSet
        => string.IsNullOrWhiteSpace(Class);

    private bool SmallSpinnerClassConditionSet
        => Small && string.IsNullOrWhiteSpace(Style);

    private string SpinnerSizeStyle
        => Small ? string.Empty : $"width: {Size}; height: {Size}";

}