@namespace SoarBeyond.Components

<div class="d-flex justify-content-center align-items-center" style="min-height: 100%">
    <div class="text-center bg-light p-4">
        <h1 class="mb-2">404</h1>

        <div class="ratio ratio-4x3">
            <iframe src="https://giphy.com/embed/I2QQlj7vgtT6U"></iframe>
        </div>

        <h4 class="mb-3">
            Sorry, the page you requested does not exist.
        </h4>

        <a class="btn btn-outline-dark" href="/">
            Home
        </a>
    </div>
</div>