@page "/Create"

@attribute [Authorize]

<PageTitle>Create</PageTitle>

<ProblemView>
    @{ const int size = 320; }
    <h2 class="mb-2">Content Coming Soon ✨</h2>
    <iframe class="giphy-embed"
            src="https://giphy.com/embed/fUYp0iOzQfC540KCs4"
            width="@size" height="@size"></iframe>
</ProblemView>