@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center d-flex flex-column justify-content-center align-items-center p-4" style="min-height: 100%;">
    <AuthorizeView>
        <NotAuthorized>
            <h1 class="text-white">
                Greetings, welcome to Soar Beyond
            </h1>

            <h3 class="text-white my-5">
                Here's to creating journals for jotting your thoughts, emotions, or feelings
                throughout the day.
            </h3>

            <h3 class="text-white">
                You and your mental health matter! 🖤
            </h3>
        </NotAuthorized>

        <Authorized>
            <h3 class="display-6 text-white">
                Welcome back, @context.User.Identity!.Name
            </h3>

            <ZenQuoteView ExtraClass="my-5" Quote="@_quote" />

            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col">
                    <BSCard ExtraClass="shadow p-3 h-100">
                        <CardBody>
                            <div class="h-100 d-flex flex-column justify-content-between align-items-center">
                                <h5>Create a Journal</h5>
                                <p class="card-text">Give it an awesome name and description</p>
                                <a href="Journals/Create" class="btn btn-outline-dark">Create</a>
                            </div>
                        </CardBody>
                    </BSCard>
                </div>

                <div class="col">
                    <BSCard ExtraClass="shadow p-3 h-100">
                        <CardBody>
                            <div class="h-100 d-flex flex-column justify-content-between align-items-center">
                                <h5>View all Journals</h5>
                                <p class="card-text">See all your amazing journals</p>
                                <a href="Journals" class="btn btn-outline-dark">View</a>
                            </div>
                        </CardBody>
                    </BSCard>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>