@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center text-center text-white px-5"
     style="min-height: 100%;">
    <AuthorizeView>
        <NotAuthorized>
            <h1>Greetings, welcome to Soar Beyond</h1>

            <h2 class="my-5">
                Here's to creating journals for jotting your thoughts, emotions, or feelings
                throughout the day.
            </h2>

            <h2>You and your mental health matter! 🤍</h2>
        </NotAuthorized>

        <Authorized>
            <h2 class="display-6">
                Welcome back, @context.User.Identity!.Name
            </h2>

            <ZenQuoteView ExtraClass="my-5" Quote="@_quote"/>
        </Authorized>
    </AuthorizeView>
</div>