@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" disabled />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}