* {
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

body {
    color: #2f2f2f;
    padding-top: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    overflow: auto;
}